* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: 8rem;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
}
.content .menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .menu .logo {
  font-size: 25px;
  color: azure;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}
.content .menu .navbar li {
  position: relative;
  float: left;
}
.content .menu .navbar li a {
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
  color: beige;
  display: block;
  font-weight: bold;
}
.content .menu .navbar li a:hover {
  color: #291ef3;
}
.content .menu-icono {
  width: 40px;
}
.content .menu label {
  cursor: pointer;
  display: none;
}
.content #menu {
  display: none;
}

h1 {
  color: azure;
  font-size: 50px;
  margin-top: 20rem;
  margin-bottom: 20rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}

@media (max-width: 991px) {
  .content {
    min-height: 7rem;
  }
  .content .logo {
    padding-right: 10px;
  }
  .content .menu {
    top: 0;
    padding: 20px;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    display: none;
    z-index: 1;
  }
  .content .menu .navbar li {
    width: 100%;
    z-index: 2;
  }
  .content .menu #menu:checked ~ .navbar {
    display: initial;
  }
  .content .menu #menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .content {
    min-height: 7rem;
  }
  .content .logo {
    padding-right: 10px;
  }
  .content .menu {
    top: 0;
    padding: 20px;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    display: none;
    z-index: 1;
  }
  .content .menu .navbar li {
    width: 100%;
    z-index: 2;
  }
  .content .menu #menu:checked ~ .navbar {
    display: initial;
  }
  .content .menu #menu {
    display: none;
  }
}
h1 {
  color: azure;
  font-size: 40px;
  margin-top: 10rem;
  margin-bottom: 20rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}

@media (max-width: 480px) {
  h1 {
    color: azure;
    font-size: 40px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .content {
    min-height: 7rem;
  }
  .content .logo {
    padding-right: 10px;
  }
  .content .menu {
    top: 0;
    padding: 20px;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    display: none;
    z-index: 1;
  }
  .content .menu .navbar li {
    width: 100%;
    z-index: 2;
  }
  .content .menu #menu:checked ~ .navbar {
    display: initial;
  }
  .content .menu #menu {
    display: none;
  }
}
@media (max-width: 320px) {
  .content {
    min-height: 7rem;
  }
  .content .logo {
    padding-right: 20px;
  }
  .content .menu {
    top: 0;
    padding: 20px;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    display: none;
    z-index: 1;
  }
  .content .menu .navbar li {
    width: 100%;
    z-index: 2;
  }
  .content .menu #menu:checked ~ .navbar {
    display: initial;
  }
  .content .menu #menu {
    display: none;
  }
}
.main-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 30%;
  padding: 1rem;
  max-width: 1200;
}

.box2, .box {
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  padding-bottom: 2rem;
}
.box2 .box-title, .box .box-title {
  grid-row: 1/2;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
.box2 .box-content, .box .box-content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box2 .box-content .box-img, .box .box-content .box-img {
  grid-column: 1/2;
}
.box2 .box-content .box-img img, .box .box-content .box-img img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box2 .box-content .box-txt, .box .box-content .box-txt {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

.box2 .box-content {
  grid-template-columns: 1fr 1fr;
}
.box2 .box-content .box-img2 {
  grid-column: 1/2;
}
.box2 .box-content .box-img2 img {
  height: auto;
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box2 .box-content .box-txt2 {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

.main-container2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 30%;
  padding: 1rem;
  max-width: 1200;
}

.box, .box2 {
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
}
.box .box-title, .box2 .box-title {
  grid-row: 1/2;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
.box .box-content, .box2 .box-content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box .box-content .box-img, .box2 .box-content .box-img {
  grid-column: 1/2;
}
.box .box-content .box-img img, .box2 .box-content .box-img img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box .box-content .box-txt, .box2 .box-content .box-txt {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

.main-container3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 50%;
  padding: 1rem;
  max-width: 1200;
  margin-top: 10rem;
  margin-bottom: -10rem;
}

.box, .box2 {
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
}
.box .box-title, .box2 .box-title {
  grid-row: 1/2;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
.box .box-content, .box2 .box-content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box .box-content .box-img, .box2 .box-content .box-img {
  grid-column: 1/2;
}
.box .box-content .box-img img, .box2 .box-content .box-img img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box .box-content .box-txt, .box2 .box-content .box-txt {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

.main-container4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 30%;
  padding: 1rem;
  max-width: 1200;
  margin-bottom: 50rem;
}

.box, .box2 {
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
}
.box .box-title, .box2 .box-title {
  grid-row: 1/2;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
.box .box-content, .box2 .box-content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box .box-content .box-img, .box2 .box-content .box-img {
  grid-column: 1/2;
}
.box .box-content .box-img img, .box2 .box-content .box-img img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box .box-content .box-txt, .box2 .box-content .box-txt {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

.main-container5 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 30%;
  padding: 1rem;
  max-width: 1200;
  margin-bottom: -1rem;
}

.box, .box2 {
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
}
.box .box-title, .box2 .box-title {
  grid-row: 1/2;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
.box .box-content, .box2 .box-content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box .box-content .box-img, .box2 .box-content .box-img {
  grid-column: 1/2;
}
.box .box-content .box-img img, .box2 .box-content .box-img img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.box .box-content .box-txt, .box2 .box-content .box-txt {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  color: antiquewhite;
  font-weight: bold;
}

@media (max-width: 991px) {
  .main-container {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container2 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container3 {
    grid-template-rows: repeat(2, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
  }
  .main-container4 {
    grid-template-rows: repeat(4, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
  }
  .main-container5 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .box, .box2 {
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  }
  .box .box-title, .box2 .box-title {
    grid-row: 1/2;
    text-align: center;
    font-size: 9rem;
    font-weight: bold;
    color: azure;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .box .box-title h2, .box2 .box-title h2 {
    font-size: 37px;
  }
  .box .box-content, .box2 .box-content {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .box .box-content .box-img, .box2 .box-content .box-img {
    grid-column: 2/3;
  }
  .box .box-content .box-img img, .box2 .box-content .box-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    width: 450px;
    height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box .box-content .box-txt, .box2 .box-content .box-txt {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box .box-content .box-txt p, .box2 .box-content .box-txt p {
    font-size: 30px;
    padding-top: 4rem;
  }
  .box2 .box-content {
    grid-template-rows: 1fr auto;
  }
  .box2 .box-content .box-img2 {
    grid-column: 2/3;
  }
  .box2 .box-content .box-img2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    width: 450px;
    height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box2 .box-content .box-txt2 {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box2 .box-content .box-txt2 p {
    font-size: 30px;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .main-container {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container2 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container3 {
    grid-template-rows: repeat(2, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
  }
  .main-container4 {
    grid-template-rows: repeat(4, 1fr);
    gap: 10%;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .main-container5 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .box, .box2 {
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  }
  .box .box-title, .box2 .box-title {
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: azure;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .box .box-content, .box2 .box-content {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .box .box-content .box-img, .box2 .box-content .box-img {
    grid-column: 2/3;
  }
  .box .box-content .box-img img, .box2 .box-content .box-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    width: 450px;
    height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box .box-content .box-txt, .box2 .box-content .box-txt {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box2 .box-content {
    grid-template-rows: 1fr auto;
  }
  .box2 .box-content .box-img2 {
    grid-column: 2/3;
  }
  .box2 .box-content .box-img2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    width: 450px;
    height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box2 .box-content .box-txt2 {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
}
@media (max-width: 576px) {
  .main-container {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container2 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .main-container3 {
    grid-template-rows: repeat(2, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
  }
  .main-container4 {
    grid-template-rows: repeat(4, 1fr);
    gap: 10%;
    padding: 1rem;
    width: 100%;
  }
  .main-container5 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
  }
  .box, .box2 {
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  }
  .box .box-title, .box2 .box-title {
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: azure;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .box .box-content, .box2 .box-content {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .box .box-content .box-img, .box2 .box-content .box-img {
    grid-column: 2/3;
  }
  .box .box-content .box-img img, .box2 .box-content .box-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    width: 350px;
    height: 200px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box .box-content .box-txt, .box2 .box-content .box-txt {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box2 .box-content {
    grid-template-rows: 1fr auto;
  }
  .box2 .box-content .box-img2 {
    grid-column: 2/3;
  }
  .box2 .box-content .box-img2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    width: 350px;
    height: 200px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box2 .box-content .box-txt2 {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .main-container {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container2 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container3 {
    grid-template-rows: repeat(2, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container4 {
    grid-template-rows: repeat(4, 1fr);
    gap: 10%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container5 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .box, .box2 {
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  }
  .box .box-title, .box2 .box-title {
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: azure;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .box .box-content, .box2 .box-content {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .box .box-content .box-img, .box2 .box-content .box-img {
    grid-column: 2/3;
  }
  .box .box-content .box-img img, .box2 .box-content .box-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    width: 250px;
    height: 170px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box .box-content .box-txt, .box2 .box-content .box-txt {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box2 .box-content {
    grid-template-rows: 1fr auto;
  }
  .box2 .box-content .box-img2 {
    grid-column: 2/3;
  }
  .box2 .box-content .box-img2 img {
    height: auto;
    object-fit: cover;
    width: 250px;
    height: 170px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box2 .box-content .box-txt2 {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
}
@media (max-width: 360px) {
  .main-container {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 10rem;
  }
  .main-container2 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 8rem;
  }
  .main-container3 {
    grid-template-rows: repeat(2, 1fr);
    gap: 20%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container4 {
    grid-template-rows: repeat(4, 1fr);
    gap: 10%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
  }
  .main-container5 {
    grid-template-rows: repeat(3, 1fr);
    gap: 15%;
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .box, .box2 {
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  }
  .box .box-title, .box2 .box-title {
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: azure;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  .box .box-content, .box2 .box-content {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .box .box-content .box-img, .box2 .box-content .box-img {
    grid-column: 2/3;
  }
  .box .box-content .box-img img, .box2 .box-content .box-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    width: 250px;
    height: 170px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box .box-content .box-txt, .box2 .box-content .box-txt {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
  .box2 .box-content {
    grid-template-rows: 1fr auto;
  }
  .box2 .box-content .box-img2 {
    grid-column: 2/3;
  }
  .box2 .box-content .box-img2 img {
    height: auto;
    object-fit: cover;
    width: 250px;
    height: 170px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .box2 .box-content .box-txt2 {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    color: antiquewhite;
    font-weight: bold;
  }
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
  margin-top: 100dvh;
  max-width: 100dvw;
  background-attachment: fixed;
}
footer .footer-title {
  color: #ffebcd;
  font-weight: bolder;
  grid-row: 1/2;
  font-size: 25px;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
}
footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-container .foot1 {
  font-size: 20px;
  font-weight: bold;
  color: #ffebcd;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  border-style: solid;
}
footer .footer-container .foot2 {
  font-size: 20px;
  color: #ffebcd;
  text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  font-weight: bold;
  border-style: solid;
}
footer .derechos {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
footer .link-1 {
  text-decoration: none;
  color: #ffebcd;
}
footer .link-1:hover {
  color: #291ef3;
}

@media (max-width: 991px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    margin-top: 100dvh;
    max-width: 100dvw;
  }
  footer .footer-title {
    color: #ffebcd;
    font-weight: bolder;
    grid-row: 1/2;
    font-size: 25px;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-container .foot1 {
    font-size: 20px;
    font-weight: bold;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container .foot2 {
    font-size: 20px;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    font-weight: bold;
  }
  footer .derechos {
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }
}
@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    margin-top: 100dvh;
    max-width: 100dvw;
  }
  footer .footer-title {
    color: #ffebcd;
    font-weight: bolder;
    grid-row: 1/2;
    font-size: 15px;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-container .foot1 {
    font-size: 15px;
    font-weight: bold;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container .foot2 {
    font-size: 15px;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    font-weight: bold;
  }
  footer .derechos {
    font-weight: bold;
    font-size: 15px;
    color: #000;
  }
}
@media (max-width: 576px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    margin-top: 100dvh;
    max-width: 100dvw;
    align-items: center;
    text-align: center;
  }
  footer .footer-title {
    color: #ffebcd;
    font-weight: bolder;
    grid-row: 1/2;
    font-size: 25px;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  footer .footer-container .foot1 {
    font-size: 20px;
    font-weight: bold;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
    border-style: solid;
  }
  footer .footer-container .foot2 {
    font-size: 20px;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    font-weight: bold;
    grid-row: 3/4;
    border-style: solid;
  }
  footer .derechos {
    font-weight: bold;
    font-size: 10px;
    color: #000;
  }
}
@media (max-width: 480px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    margin-top: 100dvh;
    max-width: 100dvw;
    align-items: center;
    text-align: center;
    max-height: 50%;
  }
  footer .footer-title {
    color: #ffebcd;
    font-weight: bolder;
    grid-row: 1/2;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  footer .footer-container .foot1 {
    font-size: 12px;
    font-weight: bold;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
    border-style: solid;
  }
  footer .footer-container .foot2 {
    font-size: 12px;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    font-weight: bold;
    grid-row: 3/4;
    border-style: solid;
  }
  footer .derechos {
    font-weight: bold;
    font-size: 11px;
    color: #000;
  }
}
@media (max-width: 360px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgb(34, 71, 236) 0%, rgb(29, 14, 238) 70%);
    margin-top: 100dvh;
    max-width: 100dvw;
    align-items: center;
    text-align: center;
    max-height: 50%;
  }
  footer .footer-title {
    color: #ffebcd;
    font-weight: bolder;
    grid-row: 1/2;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  footer .footer-container .foot1 {
    font-size: 12px;
    font-weight: bold;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
    border-style: solid;
  }
  footer .footer-container .foot2 {
    font-size: 12px;
    color: #ffebcd;
    text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    font-weight: bold;
    grid-row: 3/4;
    border-style: solid;
  }
  footer .derechos {
    font-weight: bold;
    font-size: 11px;
    color: #000;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url(../images/EDz0eYiXYAAfzPs.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/*# sourceMappingURL=style.css.map */
