* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body {


    font-family: Arial, Helvetica, sans-serif;

}
.container{
max-width: 1200px;
margin: 0 auto;
}

.menu .container {

z-index: 1;


}
.content {

    min-height: 60px;
    background: linear-gradient(90deg,
            rgba(203, 18, 133, 1)0%,
            rgba(80, 49, 145, 1)70%);
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 17px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    z-index: 2;
}
.menu .navbar ul li a:hover{
    color: #e93030;
}
#menu {
    display: none;
}
.menu-icono{
    width: 10px;
}
.menu label {
    cursor: pointer;
    display: none;
}

h1{
    margin: 80px auto ;
    
}
.index-main .arrow{
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(360deg);
    cursor: pointer;
  }
  .index-main .arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid rgb(181, 9, 193);
    border-right: 5px solid rgb(240, 66, 129);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  .index-main .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .index-main .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }















.footer {
    background-image: url( images/foot.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}











@media(max-width:768px){
.content {
        min-height: 80px;
    }
   .menu{
    top: 0;
    padding: 8px;
   
   }

.menu label{
    display: initial;
}
.menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,
    rgba(203, 18, 133, 1)0%,
    rgba(80, 49, 145, 1)70%);
    display: none;
    z-index: 1;
}

.menu .navbar ul li {
    width: 100%;
z-index: 2;
}




#menu:checked ~ .navbar{
    display: initial;
}

}

