.main-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); // 3 filas para los "box"
    gap: 15%; // Espaciado entre las cajas (opcional)
    padding: 1rem;
}

%box {
    display: grid;
    grid-template-rows: auto 1fr; // 2 filas: título y contenido

    background: linear-gradient(90deg,
            rgb(34, 71, 236)0%,
            rgb(29, 14, 238)70%);

    .box-title {
        grid-row: 1 / 2; // Primera fila (título)
        text-align: center;
        font-size: 50px; // Ajusta el tamaño del título
        font-weight: bold;
        color: azure;
        text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
    }

    .box-content {
        grid-row: 2 / 3; // Segunda fila
        display: grid;
        grid-template-columns: 1fr 1fr; // Dos columnas en la segunda fila
        gap: 10px;

        .box-img {
            grid-column: 1 / 2; // Primera columna

            img {
                width: 100%;
                height: auto;
                object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                width: 550px;
                height: 400px;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
        }

        .box-txt {
            grid-column: 2 / 3; // Segunda columna
            display: flex;
            align-items: center; // Centra verticalmente el texto
            justify-content: center; // Centra horizontalmente el texto
            text-align: center; // Asegura el centrado de líneas múltiples
            font-size: 3rem;
            text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
            color: antiquewhite;
            font-weight: bold;
        }
    }
}

.box {
    @extend %box;
}

.box2 {
    @extend %box;

    .box-content {
        grid-template-columns: 1fr 1fr; // Mantiene dos columnas pero con orden invertido

        .box-img2 {
            grid-column: 1 / 2; // Imagen en la primera columna

            img {
                width: 100%;
                height: auto;
                object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                width: 550px;
                height: 400px;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
        }

        .box-txt2 {
            grid-column: 2 / 3; // Texto en la segunda columna
            display: flex;
            align-items: center; // Centra verticalmente el texto
            justify-content: center; // Centra horizontalmente el texto
            text-align: center;
            font-size: 3rem;
            text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
            color: antiquewhite;
            font-weight: bold;

        }
    }
}

.main-container2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr); // 3 filas para los "box"
    gap: 15%; // Espaciado entre las cajas (opcional)
    padding: 1rem;
}

.main-container3 {
    display: grid;
    grid-template-rows: repeat(3, 1fr); // 3 filas para los "box"
    gap: 15%; // Espaciado entre las cajas (opcional)
    margin-bottom: 20%;
    padding: 1rem;
}

.main-container4 {
    display: grid;
    grid-template-rows: repeat(4, 1fr); // 3 filas para los "box"
    gap: 15%; // Espaciado entre las cajas (opcional)
    margin-bottom: 50%;
    padding: 1rem;
}

.main-container5 {
    display: grid;
    grid-template-rows: repeat(3, 1fr); // 3 filas para los "box"
    gap: 15%; // Espaciado entre las cajas (opcional)
    margin-bottom: 20%;
    padding: 1rem;
}


@media (max-width:991px) {
    .main-container {
        grid-template-rows: repeat(3, 1fr); // 3 filas para los "box"
        gap: 15%; // Espaciado entre las cajas (opcional)
        padding: 1rem;
    }

    %box {
        display: grid;
        grid-template-rows: auto 1fr; // 2 filas: título y contenido

        background: linear-gradient(90deg,
                rgb(34, 71, 236)0%,
                rgb(29, 14, 238)70%);

        .box-title {
            grid-row: 1 / 2; // Primera fila (título)
            text-align: center;
            font-size: 50px; // Ajusta el tamaño del título
            font-weight: bold;
            color: azure;
            text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
        }

        .box-content {
            grid-row: 2 / 3; // Segunda fila
            display: grid;
            grid-template-columns: 1fr; // Dos columnas en la segunda fila
            gap: 10px;

            .box-img {
                grid-column: 2 / 3; // Primera columna

                img {
                    width: 50%;
                    height: auto;
                    object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                    width: 450px;
                    height: 300px;
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                }
            }

            .box-txt {
                grid-row: 2 / 3; // Segunda columna
                display: flex;
                align-items: center; // Centra verticalmente el texto
                justify-content: center; // Centra horizontalmente el texto
                text-align: center; // Asegura el centrado de líneas múltiples
                font-size: 2.5rem;
                text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
                color: antiquewhite;
                font-weight: bold;
            }
        }
    }

    

    .box2 {

        .box-content {
            grid-template-rows: 1fr auto; // Mantiene dos columnas pero con orden invertido

            .box-img2 {
                grid-column: 2 / 3; // Imagen en la primera columna

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                    width: 450px;
                    height: 300px;
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                }
            }

            .box-txt2 {
                grid-row: 2 / 3; // Texto en la segunda columna
                display: flex;
                align-items: center; // Centra verticalmente el texto
                justify-content: center; // Centra horizontalmente el texto
                text-align: center;
                font-size: 2.5rem;
                text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
                color: antiquewhite;
                font-weight: bold;

            }
        }
    }
}
@media (max-width:768px) {
    .main-container {
        grid-template-rows: repeat(3, 1fr); // 3 filas para los "box"
        gap: 15%; // Espaciado entre las cajas (opcional)
        padding: 1rem;
    }

    %box {
        display: grid;
        grid-template-rows: auto 1fr; // 2 filas: título y contenido

        background: linear-gradient(90deg,
                rgb(34, 71, 236)0%,
                rgb(29, 14, 238)70%);

        .box-title {
            grid-row: 1 / 2; // Primera fila (título)
            text-align: center;
            font-size: 50px; // Ajusta el tamaño del título
            font-weight: bold;
            color: azure;
            text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
        }

        .box-content {
            grid-row: 2 / 3; // Segunda fila
            display: grid;
            grid-template-columns: 1fr; // Dos columnas en la segunda fila
            gap: 10px;

            .box-img {
                grid-column: 2 / 3; // Primera columna

                img {
                    width: 50%;
                    height: auto;
                    object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                    width: 450px;
                    height: 300px;
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                }
            }

            .box-txt {
                grid-row: 2 / 3; // Segunda columna
                display: flex;
                align-items: center; // Centra verticalmente el texto
                justify-content: center; // Centra horizontalmente el texto
                text-align: center; // Asegura el centrado de líneas múltiples
                font-size: 2.5rem;
                text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
                color: antiquewhite;
                font-weight: bold;
            }
        }
    }

    

    .box2 {

        .box-content {
            grid-template-rows: 1fr auto; // Mantiene dos columnas pero con orden invertido

            .box-img2 {
                grid-column: 2 / 3; // Imagen en la primera columna

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover; // Asegura que la imagen se ajuste al contenedor
                    width: 450px;
                    height: 300px;
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                }
            }

            .box-txt2 {
                grid-row: 2 / 3; // Texto en la segunda columna
                display: flex;
                align-items: center; // Centra verticalmente el texto
                justify-content: center; // Centra horizontalmente el texto
                text-align: center;
                font-size: 2.5rem;
                text-shadow: 2px 2px 2px #000, -2px 2px #000, 2px 2px 2px #000, -2px 2px #000;
                color: antiquewhite;
                font-weight: bold;

            }
        }
    }
}
